# Ignore everything
/*

# Except these files & folders
!/src
# prettier-plugin-astro cannot parse conditional inline scripts
/src/components/Tabs.astro
!/public
!/.github
!tsconfig.json
!astro.config.ts
!.prettierrc.mjs
!package.json
!.prettierrc
!eslint.config.js
!README.md