---
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-nocheck
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import getSortedPresentations from "@/utils/getSortedPresentations";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";
import CardImage from "@/components/CardImage.astro";
import MapLibre from "@/components/MapLibre.astro";
import Image from "astro/components/Image.astro";

const presentations = await getCollection("blog");
const presentations2 = await getCollection("blog");

const sortedPresentations = getSortedPresentations(presentations);
const sortedPresentations2 = getSortedPresentations(presentations2);
const featuredPresentations = sortedPresentations.filter(
  ({ data }) => data.featured
);
const recentPresentations = sortedPresentations;

// get array of all conferences with lat, long, and popupContent from recentPresentations
const conferences = sortedPresentations2
  .map(({ data }) => {
    if (data.conferenceLat && data.conferenceLong) {
      return {
        latitude: data.conferenceLat,
        longitude: data.conferenceLong,
        popupContent: `${data.title} @ ${data.conference} (${data.conferenceLocation})`,
      };
    }
    return null;
  })
  .filter(Boolean);

---

<Layout>
  <Header />
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-6">
      <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
        Talks by Tim Damen
      </h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="inline-block"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <IconRss
          width={20}
          height={20}
          class="scale-125 stroke-accent stroke-3 rtl:-rotate-90"
        />
        <span class="sr-only">RSS Feed</span>
      </a>

      <div
        class="mt-4 flex flex-col items-center gap-6 sm:flex-row sm:items-start"
      >
        <Image
          src="/assets/stage2.webp"
          width={288}
          height={216}
          alt="Tim Damen speaking on stage with microphone attached to his ear"
          class="w-full max-w-xs rounded-lg shadow-lg sm:w-72 sm:max-w-none"
        />
        <div>
          <p class="max-w-2xl">
            Tim Damen is frontend developer, web accessibility specialist, and
            engineering manager from Amsterdam the Netherlands 🇳🇱. He is
            passionate about HTML, CSS, Javascript, DX, web standards,
            accessibility, and developing robust web apps. Tim Damen has over a
            decade of experience in the field and has spoken at various
            conferences and meetups. He also hosts a podcast about digital
            accessibility called <a
              href="https://focusring.io/podcast-focustrap"
              class="underline decoration-dashed underline-offset-4 hover:text-accent"
              >focustrap</a
            >.
          </p>
          <br />
          <p>
            On this website you will find all of Tim's talks with slides,
            videos, and other resources.
          </p>

          <LinkButton
            href="/about/"
            class="mt-4 rounded bg-accent dark:bg-accent/60 px-2 py-1 text-base text-white shadow-black transition-colors hover:text-white hover:shadow dark:shadow-blue-50"
          >
            More about Tim
          </LinkButton>

          {
            // only display if at least one social link is enabled
            SOCIALS.length > 0 && (
              <div class="mt-4 flex flex-col sm:flex-row sm:items-center">
                <div class="me-2 mb-1 whitespace-nowrap sm:mb-0">
                  Social Links:
                </div>
                <Socials centered />
              </div>
            )
          }
        </div>
      </div>
    </section>

    <Hr />

    {
      featuredPresentations.length > 0 && (
        <>
          <section id="featured" class="pt-12 pb-6">
            <h2 class="text-3xl font-semibold tracking-wide">
              Featured Presentations
            </h2>
            <div class="flex flex-col gap-6 md:flex-row">
              <div class="md:w-8/12">
                <CardImage
                  largeImage
                  variant="h3"
                  {...featuredPresentations[0]}
                />
              </div>
              <div class="mt-2 flex flex-col gap-2 md:mt-0 md:w-4/12">
                {featuredPresentations.slice(1).map(data => (
                  <CardImage variant="h3" {...data} />
                ))}
              </div>
            </div>
          </section>
          {recentPresentations.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPresentations.length > 0 && (
        <section id="recent-presentations" class="pt-12 pb-6">
          <div class="mb-4 flex items-center justify-between">
            <h2 class="text-3xl font-semibold tracking-wide">
              Recent Presentations
            </h2>
            <LinkButton href="/presentations/" class="text-base !hidden md:inline-flex">
              All Presentations
              <IconArrowRight class="inline-block rtl:-rotate-180" />
            </LinkButton>
          </div>
          <ul>
            {recentPresentations.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }

    <div class="mb-8 text-center">
      <LinkButton href="/presentations/" class="text-base">
        All Presentations
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>

    <section class="mt-8">
      <h2 class="pb-6 text-3xl font-semibold tracking-wide">
        Talk scratch map
      </h2>
    </section>
   
    <MapLibre
      container="maplibremap"
      latitude="52.377956"
      longitude="4.897070"
      zoom="2"
      interactive="true"
      conferences={conferences}
      mapstyle="https://demotiles.maplibre.org/style.json"
      containerstyle="width:100vw; height: 500px"
    />
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
